<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>手机论坛</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="dist/css/ratchet.min.css">
    <script src="dist/js/ratchet.min.js"></script>

	<style>
ul, ol {
    list-style: none outside none;
}
body, ul, li, dl, dt, dd, h1, h2, h3, h4, p, a, img {
    font-family: "Helvetica Neue",Helvetica,STHeiTi,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
}
.fl {
    float: left;
}
a, button, input {
    outline: 0 none;
    text-decoration: none;
}


.topicBox {
    background-color: #fff;
    box-shadow: 0 1px 2px #cacaca;
    margin-bottom: 10px;
    overflow: hidden;
	border-radius: 1px;
	padding: 11px 11px 11px 15px; 
 }
.detailCon p {
    color: #545454;
    font-size: 16px;
    line-height: 22px;
    max-height: 155px;
    overflow: hidden;
    position: relative;
}



.noPerImg li {
    padding: 0 0 4px;
}
.topicList {
    background-color: #fafafa;
    border-top: 1px solid #ebebeb;
    padding: 10px 10px 7px;
}
.topicList .more {
    border-top: 1px solid #ebebeb;
    color: #a7a7a7;
    font-size: 12px;
    line-height: 25px;
    margin-top: 10px;
    overflow: hidden;
    padding-top: 5px;
    text-align: left;
}
.topicList li {
    line-height: 20px;
    overflow: hidden;
    padding: 0 0 8px 3px;
    position: relative;
}
.topicList li a {
    color: #545454;
    display: block;
}
.topicList .sW span, .topicList .reply {
    color: #000;
}
.topicList .more a {
    margin-right: 10px;
    padding: 5px 5px 10px;
}


	</style>
  </head>
  <body>



    <header class="bar bar-nav" style="background-color: #3f4762;">
	 <a class="pull-left" style="color: #f3f3f3;" href="#">
            <span class="icon icon-w3c-list" style="font-size: 18px;">返回</span></a>
      <h1 class="title" style="color: #f3f3f3;" >手机论坛</h1>
    </header>

    <div class="content " style="background-color: #efefef; ">


      <ul class="table-view" style="background-color: #efefef;padding: 10px;">
         <li class="table-view-cell media topicBox">
            <img class="media-object pull-left" src="http://placehold.it/64x64" alt="Placeholder image for Argo's poster">
            <div class="media-body" style="margin-top:5px">
              华科论坛
			  <div style="padding-top:15px">
			  <p>
             <span>100话题数</span> <span>205成员</span>
			 </p>
			 </div>
            </div>
        </li>


        <li class="table-view-cell media topicBox">
         
          <img class="media-object  pull-left"  width="38" height="38"  src="http://placehold.it/64x64" alt="Placeholder image for Argo's poster">
            <div class="media-body">
              <span style="font-size: 16px;" >用户名</span>
              <p style="color: #a0a0a0;display: block;font-size: 11px;">发帖时间</p>
            </div>
			<div class="detailCon">
                    <p>
					 【世界杯冠军大猜想】--谁是下一个章鱼保罗！
<br>
<br>
------------------------------------
<br>
微软研究院著名经济学家Rothschild博士透露，
<br>
利用与过往两届奥斯卡预测同样的方法，
<br>
使用大量的公开数据—博彩市场、民意调查、社交媒体以及其它在线数据，
<br>
“五星”巴西将会夺取今年的世界杯，夺冠概率为22.5%，
<br>
远高于其他竞争对手。各位亲，你们觉得巴西会赢吗？
<br>
----------------------------------------------------------
<br>
关于本届世界杯冠军预测：
<br>
#世界杯来了#【32支球队，谁是你心目中的世界杯冠军呢】
<br>
回复格式“世界杯来了，_______队是我心目中的冠军;”
<br>
<br>
－－－－－－－－－－－－－－－－－－－－－－
<br>
本活动７月４日（含７月４日）前参与有效，７月１４日开奖，将抽取５名参与者，每人一只世界杯吉祥物。“福来哥”（Fuleco）一只＋两张2D3D通看电影票哦。
<br>
－－－－－－－－－－－－－－－－－－－－－－－－
<br>
世界杯来了，巴西队是我心目中的冠军！
<br>
<br>
哈哈哈哈，那你们呢～ 
					</p>
			</div>
            <div style="padding-bottom : 10px">
			<div >
			<a  href="#" style="font-size: 12px;padding-top:10px" >全文</a>
			<a  style="font-size: 12px;float:right;margin-left:10px"  href="#"> 回复</a>
			<a  style="font-size: 12px;float:right;margin-left:10px"  href="#"> 点赞</a>
            </div>
			
		
		<div class="slider">
          <div class="slide-group">
          <div class="slide">
            <img src="img/argo.png" alt="Argo"  height="100">
          </div>
          <div class="slide">
             <img src="img/skyfall.png" alt="Argo" height="100">
          </div>
          <div class="slide">
             <img src="img/ralph.png" alt="Argo"  height="100">
          </div>
        </div>
      </div>
	  
	  
			</div>
               

			<div class="topicList noPerImg">
            <ul class="replylist" id="replyList_429">
                                <li id="p_429_3650_0" uid="14907154" author="林坚">
                <a href="javascript:;" class="sW fl"><span>林坚：</span>
                世界杯来了，___德国__队是我心目中的冠军</a></li>
                                <li id="p_429_3677_0" uid="13975245" author="瓜。">
                <a href="javascript:;" class="sW fl"><span>瓜。：</span>
                世界杯来了，德国队是我心目中的冠军！</a></li>
                                <li id="p_429_3703_0" uid="29595619" author="Torres">
                <a href="javascript:;" class="sW fl"><span>Torres：</span>
                世界杯来了，西班牙队是我心目中的冠军</li>
                            </ul>
            <p id="rCount_429" class="more" rcount="105"><a href="http://mq.wsq.qq.com/205206918/t/429" title="">更多</a>共105条回复</p>
            </div>
         
        </li>
		 
       




        <li class="table-view-cell media topicBox">
         
          <img class="media-object  pull-left"  width="38" height="38"  src="http://placehold.it/64x64" alt="Placeholder image for Argo's poster">
            <div class="media-body">
              <span style="font-size: 16px;" >用户名</span>
              <p style="color: #a0a0a0;display: block;font-size: 11px;">发帖时间</p>
            </div>
			<div class="detailCon">
                    <p>
					 【世界杯冠军大猜想】--谁是下一个章鱼保罗！
<br>
<br>
------------------------------------
<br>
微软研究院著名经济学家Rothschild博士透露，
<br>
利用与过往两届奥斯卡预测同样的方法，
<br>
使用大量的公开数据—博彩市场、民意调查、社交媒体以及其它在线数据，
<br>
“五星”巴西将会夺取今年的世界杯，夺冠概率为22.5%，
<br>
远高于其他竞争对手。各位亲，你们觉得巴西会赢吗？
<br>
----------------------------------------------------------
<br>
关于本届世界杯冠军预测：
<br>
#世界杯来了#【32支球队，谁是你心目中的世界杯冠军呢】
<br>
回复格式“世界杯来了，_______队是我心目中的冠军;”
<br>
<br>
－－－－－－－－－－－－－－－－－－－－－－
<br>
本活动７月４日（含７月４日）前参与有效，７月１４日开奖，将抽取５名参与者，每人一只世界杯吉祥物。“福来哥”（Fuleco）一只＋两张2D3D通看电影票哦。
<br>
－－－－－－－－－－－－－－－－－－－－－－－－
<br>
世界杯来了，巴西队是我心目中的冠军！
<br>
<br>
哈哈哈哈，那你们呢～ 
					</p>
			</div>
            <div style="padding-bottom : 10px">
			<div >
			<a  href="#" style="font-size: 12px;padding-top:10px" >全文</a>
			<a  style="font-size: 12px;float:right;margin-left:10px"  href="#">回复</a>
			<a  style="font-size: 12px;float:right;margin-left:10px"  href="#">点赞</a>
            </div>
		<div class="slider">
          <div class="slide-group">
          <div class="slide">
            <img src="img/argo.png" alt="Argo"  height="100">
          </div>
          <div class="slide">
             <img src="img/skyfall.png" alt="Argo" height="100">
          </div>
          <div class="slide">
             <img src="img/ralph.png" alt="Argo"  height="100">
          </div>
        </div>
      </div>
	  
	  
			</div>
               

			<div class="topicList noPerImg">
            <ul class="replylist" id="replyList_429">
                                <li id="p_429_3650_0" uid="14907154" author="林坚">
                <a href="javascript:;" class="sW fl"><span>林坚：</span>
                世界杯来了，___德国__队是我心目中的冠军</a></li>
                                <li id="p_429_3677_0" uid="13975245" author="瓜。">
                <a href="javascript:;" class="sW fl"><span>瓜。：</span>
                世界杯来了，德国队是我心目中的冠军！</a></li>
                                <li id="p_429_3703_0" uid="29595619" author="Torres">
                <a href="javascript:;" class="sW fl"><span>Torres：</span>
                世界杯来了，西班牙队是我心目中的冠军</li>
                            </ul>
            <p id="rCount_429" class="more" rcount="105"><a href="http://mq.wsq.qq.com/205206918/t/429" title="">更多</a>共105条回复</p>
            </div>
         
        </li>
		 


	


        <li class="table-view-cell media topicBox">
         
          <img class="media-object  pull-left"  width="38" height="38"  src="http://placehold.it/64x64" alt="Placeholder image for Argo's poster">
            <div class="media-body">
              <span style="font-size: 16px;" >用户名</span>
              <p style="color: #a0a0a0;display: block;font-size: 11px;">发帖时间</p>
            </div>
			<div class="detailCon">
                    <p>
					 【世界杯冠军大猜想】--谁是下一个章鱼保罗！
<br>
<br>
------------------------------------
<br>
微软研究院著名经济学家Rothschild博士透露，
<br>
利用与过往两届奥斯卡预测同样的方法，
<br>
使用大量的公开数据—博彩市场、民意调查、社交媒体以及其它在线数据，
<br>
“五星”巴西将会夺取今年的世界杯，夺冠概率为22.5%，
<br>
远高于其他竞争对手。各位亲，你们觉得巴西会赢吗？
<br>
----------------------------------------------------------
<br>
关于本届世界杯冠军预测：
<br>
#世界杯来了#【32支球队，谁是你心目中的世界杯冠军呢】
<br>
回复格式“世界杯来了，_______队是我心目中的冠军;”
<br>
<br>
－－－－－－－－－－－－－－－－－－－－－－
<br>
本活动７月４日（含７月４日）前参与有效，７月１４日开奖，将抽取５名参与者，每人一只世界杯吉祥物。“福来哥”（Fuleco）一只＋两张2D3D通看电影票哦。
<br>
－－－－－－－－－－－－－－－－－－－－－－－－
<br>
世界杯来了，巴西队是我心目中的冠军！
<br>
<br>
哈哈哈哈，那你们呢～ 
					</p>
			</div>
            <div style="padding-bottom : 10px">
			<div >
			<a  href="#" style="font-size: 12px;padding-top:10px" >全文</a>
			<a  style="font-size: 12px;float:right;margin-left:10px"  href="#">回复</a>
			<a  style="font-size: 12px;float:right;margin-left:10px"  href="#">点赞</a>
            </div>
		
		<div class="slider">
          <div class="slide-group">
          <div class="slide">
            <img src="img/argo.png" alt="Argo"  height="100">
          </div>
          <div class="slide">
             <img src="img/skyfall.png" alt="Argo" height="100">
          </div>
          <div class="slide">
             <img src="img/ralph.png" alt="Argo"  height="100">
          </div>
        </div>
      </div>
	  
	  
			</div>
               

			<div class="topicList noPerImg">
            <ul class="replylist" id="replyList_429">
                                <li id="p_429_3650_0" uid="14907154" author="林坚">
                <a href="javascript:;" class="sW fl"><span>林坚：</span>
                世界杯来了，___德国__队是我心目中的冠军</a></li>
                                <li id="p_429_3677_0" uid="13975245" author="瓜。">
                <a href="javascript:;" class="sW fl"><span>瓜。：</span>
                世界杯来了，德国队是我心目中的冠军！</a></li>
                                <li id="p_429_3703_0" uid="29595619" author="Torres">
                <a href="javascript:;" class="sW fl"><span>Torres：</span>
                世界杯来了，西班牙队是我心目中的冠军</li>
                            </ul>
            <p id="rCount_429" class="more" rcount="105"><a href="http://mq.wsq.qq.com/205206918/t/429" title="">更多</a>共105条回复</p>
            </div>
         
        </li>
		 


		   


        <li class="table-view-cell media topicBox">
         
          <img class="media-object  pull-left"  width="38" height="38"  src="http://placehold.it/64x64" alt="Placeholder image for Argo's poster">
            <div class="media-body">
              <span style="font-size: 16px;" >用户名</span>
              <p style="color: #a0a0a0;display: block;font-size: 11px;">发帖时间</p>
            </div>
			<div class="detailCon">
                    <p>
					 【世界杯冠军大猜想】--谁是下一个章鱼保罗！
<br>
<br>
------------------------------------
<br>
微软研究院著名经济学家Rothschild博士透露，
<br>
利用与过往两届奥斯卡预测同样的方法，
<br>
使用大量的公开数据—博彩市场、民意调查、社交媒体以及其它在线数据，
<br>
“五星”巴西将会夺取今年的世界杯，夺冠概率为22.5%，
<br>
远高于其他竞争对手。各位亲，你们觉得巴西会赢吗？
<br>
----------------------------------------------------------
<br>
关于本届世界杯冠军预测：
<br>
#世界杯来了#【32支球队，谁是你心目中的世界杯冠军呢】
<br>
回复格式“世界杯来了，_______队是我心目中的冠军;”
<br>
<br>
－－－－－－－－－－－－－－－－－－－－－－
<br>
本活动７月４日（含７月４日）前参与有效，７月１４日开奖，将抽取５名参与者，每人一只世界杯吉祥物。“福来哥”（Fuleco）一只＋两张2D3D通看电影票哦。
<br>
－－－－－－－－－－－－－－－－－－－－－－－－
<br>
世界杯来了，巴西队是我心目中的冠军！
<br>
<br>
哈哈哈哈，那你们呢～ 
					</p>
			</div>
            <div style="padding-bottom : 10px">
			<div >
			<a  href="#" style="font-size: 12px;padding-top:10px" >全文</a>
			<a  style="font-size: 12px;float:right;margin-left:10px"  href="#">回复</a>
			<a  style="font-size: 12px;float:right;margin-left:10px"  href="#">点赞</a>
            </div>
		<div class="slider">
          <div class="slide-group">
          <div class="slide">
            <img src="img/argo.png" alt="Argo"  height="100">
          </div>
          <div class="slide">
             <img src="img/skyfall.png" alt="Argo" height="100">
          </div>
          <div class="slide">
             <img src="img/ralph.png" alt="Argo"  height="100">
          </div>
        </div>
      </div>
	  
	  
			</div>
               

			<div class="topicList noPerImg">
            <ul class="replylist" id="replyList_429">
                                <li id="p_429_3650_0" uid="14907154" author="林坚">
                <a href="javascript:;" class="sW fl"><span>林坚：</span>
                世界杯来了，___德国__队是我心目中的冠军</a></li>
                                <li id="p_429_3677_0" uid="13975245" author="瓜。">
                <a href="javascript:;" class="sW fl"><span>瓜。：</span>
                世界杯来了，德国队是我心目中的冠军！</a></li>
                                <li id="p_429_3703_0" uid="29595619" author="Torres">
                <a href="javascript:;" class="sW fl"><span>Torres：</span>
                世界杯来了，西班牙队是我心目中的冠军</li>
                            </ul>
            <p id="rCount_429" class="more" rcount="105"><a href="http://mq.wsq.qq.com/205206918/t/429" title="">更多</a>共105条回复</p>
            </div>
         
        </li>
		 

		 


        <li class="table-view-cell media topicBox">
         
          <img class="media-object  pull-left"  width="38" height="38"  src="http://placehold.it/64x64" alt="Placeholder image for Argo's poster">
            <div class="media-body">
              <span style="font-size: 16px;" >用户名</span>
              <p style="color: #a0a0a0;display: block;font-size: 11px;">发帖时间</p>
            </div>
			<div class="detailCon">
                    <p>
					 【世界杯冠军大猜想】--谁是下一个章鱼保罗！
<br>
<br>
------------------------------------
<br>
微软研究院著名经济学家Rothschild博士透露，
<br>
利用与过往两届奥斯卡预测同样的方法，
<br>
使用大量的公开数据—博彩市场、民意调查、社交媒体以及其它在线数据，
<br>
“五星”巴西将会夺取今年的世界杯，夺冠概率为22.5%，
<br>
远高于其他竞争对手。各位亲，你们觉得巴西会赢吗？
<br>
----------------------------------------------------------
<br>
关于本届世界杯冠军预测：
<br>
#世界杯来了#【32支球队，谁是你心目中的世界杯冠军呢】
<br>
回复格式“世界杯来了，_______队是我心目中的冠军;”
<br>
<br>
－－－－－－－－－－－－－－－－－－－－－－
<br>
本活动７月４日（含７月４日）前参与有效，７月１４日开奖，将抽取５名参与者，每人一只世界杯吉祥物。“福来哥”（Fuleco）一只＋两张2D3D通看电影票哦。
<br>
－－－－－－－－－－－－－－－－－－－－－－－－
<br>
世界杯来了，巴西队是我心目中的冠军！
<br>
<br>
哈哈哈哈，那你们呢～ 
					</p>
			</div>
            <div style="padding-bottom : 10px">
		    <div >
			<a  href="#" style="font-size: 12px;padding-top:10px" >全文</a>
			<a  style="font-size: 12px;float:right;margin-left:10px"  href="#">回复</a>
			<a  style="font-size: 12px;float:right;margin-left:10px"  href="#">点赞</a>
            </div>
		<div class="slider">
          <div class="slide-group">
          <div class="slide">
            <img src="img/argo.png" alt="Argo"  height="100">
          </div>
          <div class="slide">
             <img src="img/skyfall.png" alt="Argo" height="100">
          </div>
          <div class="slide">
             <img src="img/ralph.png" alt="Argo"  height="100">
          </div>
        </div>
      </div>
	  
	  
			</div>
               

			<div class="topicList noPerImg">
            <ul class="replylist" id="replyList_429">
                                <li id="p_429_3650_0" uid="14907154" author="林坚">
                <a href="javascript:;" class="sW fl"><span>林坚：</span>
                世界杯来了，___德国__队是我心目中的冠军</a></li>
                                <li id="p_429_3677_0" uid="13975245" author="瓜。">
                <a href="javascript:;" class="sW fl"><span>瓜。：</span>
                世界杯来了，德国队是我心目中的冠军！</a></li>
                                <li id="p_429_3703_0" uid="29595619" author="Torres">
                <a href="javascript:;" class="sW fl"><span>Torres：</span>
                世界杯来了，西班牙队是我心目中的冠军</li>
                            </ul>
            <p id="rCount_429" class="more" rcount="105"><a href="http://mq.wsq.qq.com/205206918/t/429" title="">更多</a>共105条回复</p>
            </div>
         
        </li>
		 

      
      </ul>

     <div style="padding: 14px 40px 60px 40px;">
	   <button class="btn btn-block btn-primary" style="background-color: #f8f9fa;color:black;border: 1px solid #ccc;">点击加载更多</button>
	 </div>
    </div>
<nav class="bar bar-tab">
    <a class="tab-item" href="#">发话题</a>
    
</nav>
 
  </body>
</html>
