<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>新闻资讯</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="dist/css/ratchet.min.css">
    <script src="dist/js/ratchet.min.js"></script>
  </head>
  <body>
<div id="category" class="popover">
    <header class="bar bar-nav">
        <h1 class="title">新闻类型</h1>
    </header>
    <ul class="table-view">
        <li class="table-view-cell">类型1</li>
        <li class="table-view-cell">类型2</li>
        <li class="table-view-cell">类型3</li>
        <li class="table-view-cell">类型4</li>
        <li class="table-view-cell">类型5</li>
        <li class="table-view-cell">类型6</li>
        <li class="table-view-cell">类型7</li>
        <li class="table-view-cell">类型8</li>
    </ul>
</div>


    <header class="bar bar-nav">
	
      <a class="pull-right" href="#category">
            <span class="icon icon-w3c-list" style="font-size: 18px;">分类</span></a>
	 
      <h1 class="title">新闻资讯</h1>
    </header>

    <div class="content">

      <div class="slider">
        <div class="slide-group">
          <div class="slide">
            <img src="img/argo.png" alt="Argo" width="640" height="300">
          </div>
          <div class="slide">
             <img src="img/skyfall.png" alt="Skyfall" width="640" height="300">
          </div>
          <div class="slide">
             <img src="img/ralph.png" alt="Wreck-It Ralph" width="640" height="300">
          </div>
        </div>
      </div>

      <ul class="table-view">
        <li class="table-view-cell table-view-divider">新闻资讯</li>

        <li class="table-view-cell media">
          <a  href="choose-theater.html" data-transition="slide-in">
            <img class="media-object pull-left" src="http://placehold.it/64x64" alt="Placeholder image for Argo's poster">
            <div class="media-body">
              标题1
              <p>内容1..........................................</p>	
            </div>
			  <span class="badge badge-negative">置顶</span>
          </a>
        </li>
		 
        <li class="table-view-cell media">
          <a  href="choose-theater.html" data-transition="slide-in">
            <img class="media-object pull-left" src="http://placehold.it/64x64" alt="Placeholder image for Skyfall's poster">
            <div class="media-body">
             标题2
              <p>内容2..........................................</p>
            </div>
			<span class="badge badge-negative">置顶</span>
          </a>
        </li>
        <li class="table-view-cell media">
          <a  href="choose-theater.html" data-transition="slide-in">
            <img class="media-object pull-left" src="http://placehold.it/64x64" alt="Placeholder image for Wreck-it Ralph's poster">
            <div class="media-body">
              标题3
              <p>内容3..........................................</p>
            </div>
			<span class="badge badge-negative">置顶</span>
          </a>
        </li>
        <li class="table-view-cell media">
          <a  href="choose-theater.html" data-transition="slide-in">
            <img class="media-object pull-left" src="http://placehold.it/64x64" alt="Placeholder image for Argo's poster">
            <div class="media-body">
              标题4
              <p>内容4..........................................</p>
            </div>
          </a>
        </li>
        <li class="table-view-cell media">
          <a  href="choose-theater.html" data-transition="slide-in">
            <img class="media-object pull-left" src="http://placehold.it/64x64" alt="Placeholder image for Skyfall's poster">
            <div class="media-body">
              标题5
              <p>内容5..........................................</p>
            </div>
          </a>
        </li>

      
      </ul>

     <div style="padding: 14px 40px;">
	   <button class="btn btn-block btn-primary" style="background-color: #f8f9fa;color:black;border: 1px solid #ccc;">点击加载更多</button>
	 </div>
    </div>

 
  </body>
</html>
